[submodule "luke-contrib/gibuu"]
	path = luke-contrib/gibuu
	url = git@github.com:luketpickering/GiBUU-t2k-dev.git
[submodule "luke-contrib/neut"]
	path = luke-contrib/neut
	url = git@github.com:luketpickering/NeutToRooTracker.git
[submodule "luke-contrib/NuTRAPAnalysis"]
	path = luke-contrib/NuTRAPAnalysis
	url = git@github.com:luketpickering/NuTRAPAnalysis.git
[submodule "luke-contrib/plotting"]
	path = luke-contrib/plotting
	url = git@git.ursaminorbeta.org.uk:luketpickering/ROOTXMLPlot.git
